.signup-header {
	margin: 20px 0;
	position: relative;
	margin: 0 auto;
	width: 1000px
}

.signup-logo {
	margin: 0;
	font: 0/0 a;
	background: url(images/LogoMacsys-100px.jpg) no-repeat;
	-webkit-background-size: 176px 31px;
	background-size: 176px 31px;
	width: 220px;
	height: 31px;
	opacity: 0.5;
}

h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
    color: #666;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    color: navy;
    padding-top: 12px;
    padding-bottom: 3px;
    background: -webkit-linear-gradient(#fff, #999);
    	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

h3 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: navy;
    padding-top: 10px;
    padding-bottom: 3px;
}

#maindivdatas {
    /*background: url(images/login-box-backg.png) no-repeat left top;*/
    background: url(images/backgroun-image.png) no-repeat left top;
    background-size: 100%;
    margin: 25px auto;
    width: 900px;
    height: 600px;
    position: relative;
}

body{
    background: #252527 url(images/codepen-logo-pattern.png);
    color:#fff;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size:14px;
}

p{
    color:black
}

.error {
	color: #ff0000;
}
a {
	text-decoration: none;
	color: #76daff;
}