.errors {
 background-color: #FFCCCC;
 border: 1px solid #CC0000;
 width: 400px;
 margin-bottom: 8px;
}
 
.uiButtonConfirm {
	background-repeat: no-repeat;
	background-size: 500px 512px;
	background-position: 0 -50px;
	background-color: #5b74a8;
	border-color: #29447e #29447e #1a356e;
}

input[type="submit"]:active {
    color: green;
}

.errors li {
 list-style: none;
}
 
.welcome {
 background-color: #DDFFDD;
 border: 1px solid #009900;
 width: 300px;
}
 
.welcome li {
 list-style: none;
}
 
.content{
 padding: 5px;
 height: 400px;
  
 border: 2px solid #d0d1d0;
}